{% extends 'layout.njk' %}

{% block body %}
  <div class=" container p-10 md:my-10 prose-lg md:prose-xl prose-orange lg:prose-2xl font-light family-poppins text-gray-700">
    {{ content | safe }}
  </div>
{% endblock %}