{% set title = 'ABOUT' %}
{% extends "layout.njk" %}

{% block body %}
    <main class="container prose md:prose-lg lg:prose-xl xl:prose-2xl p-5 my-5 md:px-10 lg:text-3xl ">
        <h1 class="font-light font-IBM">About me </h1>
        <div  class= "grid md:px-3 gap-9 leading-loose
">
            <img src="https://res.cloudinary.com/deh2guteb/image/upload/v1652765957/cosmic/palomaclaycat_t1x64f.jpg" alt="Teacher with cat">
            <p>My name is Carla and I am originally from Buenos Aires, Argentina. Once upon a time, I visited a small town called Hagi in Yamaguchi, Japan. I still remember the day I saw Hagi-yaki (Hagi pottery) for the first time, I instantly fell in love. You could say that day my heart turned into clay.

                I have studied pottery in Barcelona with a Japanese sensei for a short time, but my main school has been museums (observation) and MVPS (courses).
            </p>
            <img src="https://res.cloudinary.com/deh2guteb/image/upload/v1633825349/personal-site-pottery/IMG_4405_lfwqg0.jpg" alt="plates">
            <p>I am a very slow student who learned to become happy with failing. After all, some of my most loved pieces were pure mistakes.

            My inspirations are: pre-Colombian pottery and the Mingei movement (Yanagi Soetsu).

            Currently, besides spending time at MVPS I run a little shop that keeps me super busy. </br>
            
            You can take a peek here:
                <span>
                <a href="https://cosmicorder.net/" class="hover:bg-orange-300 hover:underline cursor-pointer" target="_blank">Cosmic Order Ceramics</a>
            </span>
        </p>
    </div>
</div>
<img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/9a62a21d-27d3-4c48-a3fa-51f9ba6fb670/Screen_Shot_2022-04-19_at_8.26.04_AM.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220419%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220419T152633Z&X-Amz-Expires=86400&X-Amz-Signature=2fc3a16973bc61cd392a139b6b72808bf53fa3177d07b8463f96302abc33d407&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Screen%2520Shot%25202022-04-19%2520at%25208.26.04%2520AM.png%22&x-id=GetObject" alt="">
</div>
</main>
{% endblock %}