{% set title = 'ABOUT' %}
{% extends "layout.njk" %}

{% block body %}
    <main class="container prose md:prose-lg lg:prose-xl xl:prose-2xl p-5 my-5 md:px-10 lg:text-3xl ">
        <h1 class="font-light font-IBM">About me </h1>
        <div  class= "grid md:px-3 gap-9 leading-loose
">
            <p>My name is Carla and I am originally from Buenos Aires, Argentina. Once upon a time, I visited a small town called Hagi in Yamaguchi, Japan. I still remember the day I saw Hagi-yaki (Hagi pottery) for the first time, I instantly fell in love. You could say that day my heart turned into clay.

I have studied pottery in Barcelona with a Japanese sensei for a short time, but my main school has been museums (observation) and MVPS (courses).
        </p>
            <p>I am a very slow student who learned to become happy with failing. After all, some of my most loved pieces were pure mistakes.

My inspirations are: pre-Colombian pottery and the Mingei movement (Yanagi Soetsu).

Currently, besides spending time at MVPS I run a little shop that keeps me super busy. You can take a peek here:
<span>
                    <a href="https://cosmicorder.net/" class="hover:bg-orange-300 hover:underline cursor-pointer" target="_blank">Cosmic Order Ceramics</a>
                </span>
            </p>
        </div>

    </div>
</div>
</main>
{% endblock %}