{% set title = 'Home' %}
{% extends "layout.njk" %}

{% block body %}
<main class="container prose md:prose-lg lg:prose-xl xl:prose-2xl p-5 my-5 md:px-10 lg:text-3xl ">
      <h1 class="font-light font-IBM">Welcome! </h1>
      <div class= "grid  gap-9">
        <div>
          <p>In this site, you will find a constantly evolving course plan. I sometimes include carefully curated videos to study a particular technique and pointers to solo projects matching your current expertise.</p>
          <h3 class="font-light"> Content</h4>
          <p lass="font-light">
            {% for item in navigation %}
              <a
                  class="{{ 'capitalize no-underline font-light hover:underline hover:bg-red-100 leading-loose' }}"
                  href="{{ item.route }}" >
                {{ item.name }}
                {{item.info}}
              </a>
            </br>
          {% endfor %}
        </p>
        <span></div>
          <div class="bg-local text-red md:bg-fixed" style="background-image: url(https://www.waddingtons.ca/media2/728/waddingtons-876ca1a7a2ba89aea07f4c20f0411b9b.jpg)">
            <p class="text-sm md:text-lg text-gray-900 uppercase bg-red-100 md:mt-50 md:mx-30 lg:w-auto tracking-widest lg:rigth-0 lg:mx-24 lg:mt-96">
              “Nothing is original. Steal from anywhere that resonates with inspiration or fuels your imagination. Devour old films, new films, music, books, paintings, photographs, poems, dreams, random conversations, architecture, bridges, street signs, trees, clouds, bodies of water, light and shadows. Select only things to steal from that speak directly to your soul. If you do this, your work (and theft) will be authentic. Authenticity is invaluable; originality is non-existent. And don’t bother concealing your thievery - celebrate it if you feel like it. In any case, always remember what Jean-Luc Godard said: “It’s not where you take things from - it’s where you take them to."
            ― Jim Jarmusch </p>
        </div>
        <div class="aspect-w-16 aspect-h-9 ">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/acPhktaGn5o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div> 
</main>
{% endblock %}